 h1{
    font-size: 40px;
    font-family: roboto;
    font-weight: normal;
    color: rgb(50,50,50);
    text-align: center;
    }

h2{
    font-family: roboto;
    font-size: 32px;
    color: yellow;
    text-align: center;
    font-weight: normal;
    }

.bodytext{
    font-family: roboto;
    color: rgb(80, 80, 80);
    font-size: 30px;
 }

#container{
    max-width: 720px;
    margin: 0 auto 0 auto;
            
}